body {
    background: #050846;
}

.mestre {
    display: flex;
}

.titulos {
    /*margin-left: 25px;
    margin-right: 25px;*/
    padding: 45px;
    margin-top: 75px;
}

.t1 {
    text-align: center;
    font-size: 40px;
}

.t2 {
    text-align: center;
    font-size: 35px;
}

.form {
    background: #ffffff;
    width: 70vw;
    height: 65vh;
    margin-right: 20px;
    border-radius: 35px;
}